RewriteEngine On
RewriteBase /
#RewriteMap lowercase int:tolower
#AllowEncodedSlashes On


#RedirectMatch 404 ^/application(/?|/.*)$
#<FilesMatch "[^\.]+\.ini">
#	Order allow,deny
#	Deny from all
#	Satisfy All
#</FilesMatch>

# Disable ETags
#Header unset ETag  
#FileETag None

# sinatra routing is the da-bomb... PHP doesn't really do that
# and it would be a waste to try as mod_rewrite can get us there, 
# admittedly in a less pretty way, but why re-invent the wheel

RewriteCond %{REQUEST_METHOD} ^POST [NC,OR]
RewriteCond %{HTTP:X-HTTP-Method-Override} ^POST [NC]
RewriteCond %{REQUEST_URI} ^/accounts [NC]
RewriteRule accounts/users/([a-z0-9_-]+)/aliases/(wii|xbox360|pc|playstation[23])$ /application/services/endpoints/accounts-maintenance.php?action=linkPlatformAlias&arguments[]=$1&arguments[]=$2 [L] 
RewriteRule accounts/(login|register|verify)$ /application/services/endpoints/accounts-open.php?action=$1 [L] 
RewriteRule accounts/reset/(.+) /application/services/endpoints/accounts-open.php?action=reset&arguments[]=$1 [L] 

RewriteCond %{REQUEST_METHOD} ^GET [NC,OR]
RewriteCond %{REQUEST_URI} ^/accounts [NC]
RewriteRule accounts/verify/([a-z0-9]{32})$ /application/services/endpoints/accounts-open.php?action=verify&arguments[]=$1 [L]
RewriteRule accounts/logout$ /application/services/endpoints/accounts-open.php?action=logout [L] 
RewriteRule accounts/users/([a-z0-9_-]+)/aliases$ /application/services/endpoints/accounts-maintenance.php?action=platformAliasesForUsername&arguments[]=$1 [L]


# send any unknown request to a generic handler
RewriteCond %{REQUEST_METHOD} ^GET|POST|PUT|DELETE [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule  .* /application/services/endpoints/default.php?action=general [L]
