RewriteEngine On
RewriteBase /
#RewriteMap lowercase int:tolower
#AllowEncodedSlashes On


#RedirectMatch 404 ^/application(/?|/.*)$
#<FilesMatch "[^\.]+\.ini">
#	Order allow,deny
#	Deny from all
#	Satisfy All
#</FilesMatch>

# Disable ETags
#Header unset ETag  
#FileETag None

RewriteRule accounts/(login|logout|register) /application/services/accounts-open.php?action=$1 [L] 
