#signup input[type="image"]{
	padding-top:10px;
}

.signup-success{
	padding-left:10px;
}
.signup-success h1
{
	font-size:14px;
	padding-top:10px;
	padding-bottom:10px;
}

.signup-success p{
	padding-bottom:10px;
	width:320px;
}

.signup-success p.special{
	font-style:italic;
	padding-top:15px;
	font-size:10px;
	width:100%;
}